<footer class="footer">
  <div class="sollucion-container">
    <%= image_tag "logo_main.png", alt: "Sollucion", class: "footer-logo" %>

    <p>© <%= Date.current.year %> Sollucion. Todos os direitos reservados.</p>

    <div class="footer-links">
      <%= link_to "Produtos", products_path %>
      <%= link_to "Blog", blog_path %>
      <%= link_to "Contato", contact_path %>
    </div>
  </div>
</footer>
